*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}



.posizionamento{
    width: 70%;
    height: 70%;
    

}

/*Css per sezione navbar*/

.logo>img{
   padding: 0.5rem 0 0 0;
}

li{
    padding: 0 1.5rem;
}

.navigazione{
    background-color:rgb(37, 94, 233);
     
}

.box-nav{
    justify-content: space-between;
}



ul{
    list-style: none;
    color: white;


}

/*css per l'ultimo figlio dell'header*/

header section:last-child{
    background-image: url(../img/jumbo.png);
    height: 625px;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

/*sezione dove spiega come funzionano i server Discord*/

.section-server{
    background-color: rgb(255, 255, 255);
    height: 625px;

}

.box-left{
    
     height: 300px;
     width: 60%;
     border: 3px dashed black;
}

.box-right{
    
    height: 300px;
    width: 40%;
    border: 3px dashed black;
}

/*css dove parla dei canali e degli amici in collegamento*/

.section-amici{
    background-color: rgb(246, 246, 246);
    height: 625px;

}

/*css dove parla di come costruire una community*/

























/*css dove parla dei dispositivi da usare ecc..*/

.section-dispositivi{
    background-color: rgb(246, 246, 246);
    padding: 3rem 0;
}

.flex-box-use{
    flex-direction: column;
    
}

.dispositivi{
    background-color: blue;
    height: 100px;
}

.img-amici{
    background-color: red;
    height: 200px;
}

.start-use{
    background-color: aqua;
    height: 70px;
}



/*css del footer*/

.color-footer{
    background-color: rgb(35, 39, 42) ;
    height: 500px;
}






