* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
}

/*css con le classi da riutilizzare*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-top-bottom {
  padding: 3rem 0;
}

.posizionamento {
  width: 70%;
}

i{
    padding-right:6px ;
}
/*Css per sezione navbar*/

.logo > img {
  padding: 0.5rem 0 0 0;
}

li {
  padding: 0 1.5rem;
}

.navigazione {
  background-color: rgb(37, 94, 233);
}

.box-nav {
  justify-content: space-between;
}

ul {
  list-style: none;
  color: white;
}

.login {
  border-radius: 30px;
  background-color: white;
  padding: 0.5rem;
}

/*css per l'ultimo figlio dell'header*/

header section:last-child {
  background-image: url(../img/jumbo.png);

  background-size: cover;
  background-repeat: no-repeat;
}

/*sezione per il titolo*/

.flex-title > h1 {
  padding: 8rem 0 2rem 0;
  color: white;
  font-size: 50px;
}

.flex-title > p {
  padding: 0 0 1.5rem 0;
  color: white;
}

.flex-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.position-title {
  width: 40%;
  text-align: center;
  padding: 0 0 8rem 0;
}

/*css bottoni nel titolo*/

.flex-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.style-button > button {
  border-radius: 30px;
  padding: 1rem;
  margin-left: 1rem;
}

.style-button button:last-child {
  background-color: rgb(33, 36, 36);
  color: white;
}

/*sezione dove spiega come funzionano i server Discord*/

.section-server {
  background-color: rgb(255, 255, 255);
}

.box-left {
  width: 60%;
}

.box-right {
  width: 40%;
  font-size: 35px;
  padding: 3rem 2rem 0 2rem;
}

.flex-info {
  display: flex;
  flex-direction: column;
}

/*css dove parla dei canali e degli amici in collegamento*/

.section-amici {
  background-color: rgb(246, 246, 246);
 
}

/*css dove parla di come costruire una community*/

/*css dove parla dei dispositivi da usare ecc..*/

.section-dispositivi {
  background-color: rgb(246, 246, 246);
}

.flex-dispositivi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title {
  width: 80%;
  text-align: center;
}

.box-title > h1 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.box-title > p {
  font-size: 20px;
}

.box-img {
  width: 100%;
}

.button-final{
background-color:rgb(142, 161, 225) ;
border-radius: 30px;
  padding: 1rem;
  margin-left: 1rem;
  
}

.start-use{
    padding: 0 1rem 2rem 1rem;
}





/*css del footer*/



.color-footer {
  background-color: rgb(35, 39, 42);
   padding: 3rem 0;
  color: white;
}

.flex-footer{
    display: flex;
    justify-content: space-evenly;
    

   
    

}



.color-footer section{
    padding: 2rem 0 1rem 0;
}

.color-footer p{
    padding: 0.25rem;
}
.color-footer h2{
    color: rgb(114, 137, 218);



}

.color-footer p:first-child{
    color:rgb(114, 137, 218)
}

.flex-logo-login{
display: flex;
justify-content: space-between;
padding-top: 1rem;
}

.flex-logo-login>button{
    background-color: rgb(142, 161, 225);
    padding: 0.5rem;
    border-radius: 10px;
}

.flex-flag{
    display: flex;
    align-items: center;
}
.flex-flag>img{
    width: 10%;
    height: 10%;

}